<?xml version="1.0" encoding="utf-8" ?>
<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        >

    <testsuites>
        <testsuite name="UnitTests">
            <directory>./tests/UnitTests</directory>
        </testsuite>
        <testsuite name="IntegrationTests">
            <directory>./tests/IntegrationTests</directory>
        </testsuite>
    </testsuites>

</phpunit>
